/* @override http://127.0.0.1:3000/stylesheets/admin.css */

@import 'reset.css';
h2 {
	font-size: 20px;
	line-height: 40px;	
}
body {
	background-color: #f4f4f4;
	font: 12px/18px Arial, Helvetica, sans-serif;
}
header {
	height: 95px;
	background: #468bbd;
	color: #fff;
	padding: 20px 20px 0 20px;
}
header nav {
	margin: 20px 0 0 0;
}
header nav li a {
	float: left;
	padding:  10px;
	margin: 0 5px 0 0;
	background: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#main {
	background: #fff;
	padding: 20px
}
#main form .input {
	margin-bottom:  10px;
}
#main form label {
	display: block;
}
div.error-message {
	background: #ffe6c9;
	color: #7f0000;
	padding: 10px;
	font-size: 14px;
}
div.message {
	background: #c9ffdb;
	color: #009431;
	padding: 10px;
	font-size: 14px;
}
