/**
 * Schedgy, the simple scheduling tool.
 * MIT Licensed 2010
 * Programmed By: Benjamin E. Coe
 */
/* @override http://127.0.0.1:3000/stylesheets/schedgy.css */

body {
	background-color: #f4f4f4;
	font: 12px/18px Arial, Helvetica, sans-serif;
}
a:link, a:visited, a:active {
	color: #00f;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

/* layout */
.clear {
	clear: both;
}
#header {
	background-color: #468bbd;
	height: 90px;
	padding: 5px 10px;
}
#main {
	margin-right: 250px;
	padding-top: 20px;
	padding-right: 20px;
}
#sidebar {
	position: absolute;
	top: 120px;
	right: 0;
	width: 250px;
	margin-right: 20px;
}
.shadow-top {
	background: url('../images/shadow-top.png') no-repeat right;
	position: absolute;
	left: -20px;
	top: 0;
	width: 20px;
	height: 202px;
}
.shadow-bottom {
	background: url('../images/shadow-bottom.png') no-repeat;
	height: 15px;
	clear: both;
	margin-left: 20px;
}
.calendar-bg, .sidebar-bg {
	background-color: #fff;
	margin-left: 20px;
	padding: 20px;
	position: relative;
}


/* typography */
h1 {
	font-size: 42px;
	line-height: normal;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.35) 2px 2px 1px;
	margin-top: 30px;
}
h3 {
	font: bold 30px 'Reenie Beanie', Tahoma, Arial, sans-serif;
	text-transform: uppercase;
	margin-bottom: 10px;
}


#schedgy-month {
	font: bold 50px 'Reenie Beanie', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-bottom: 20px;
	display: inline;
}
.month-nav-prev,
.month-nav-next {
	font-size: 20px;
	padding: 0 15px;
}
#schedgy-calendar {
	width: 99%;
	margin-left: 12px;
}
	#schedgy-calendar tr {
	   vertical-align: top;
	}
	#schedgy-calendar th {
		background-color: #4299d4;
		color: #fff;
		text-align: center;
		padding: 10px 0;
	}
	#schedgy-calendar td {
		border: 1px solid #eee;
		border-top: 0;
		border-right: 0;
		width: 14%;
		height: 100px;
	}
	#schedgy-calendar td.day > ul > li {
		position: relative;
	}
	#schedgy-calendar td.today {
		background-color: rgba(0, 255, 0, 0.3);
	}
		#schedgy-calendar td .number {
			background-color: #f2f2f2;
			padding: 3px;
		}
		#schedgy-calendar td .event {
		   float: right;
		}
		#schedgy-calendar td > ul {
			margin: 3px;
			height: 130px;
		}
		#schedgy-calendar td > ul > li {
			background-color: #ddd;
			border-radius: 8px;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			line-height: 16px;
			padding: 0 8px;
			height: 16px;
			margin-bottom: 1px;
		}
		#schedgy-calendar td > ul > li:hover {
			background-color: #d5d5d5;
		}
		
		#schedgy-calendar td > ul > li img {
			float: right;
		}
		
	#schedgy-calendar div.bottom {
		text-align: right;
		padding: 3px;
		height: 25px;
	}

form label {
	display: block;
	width: 120px;
	padding-right: 5px;
	float: left;
	clear: both;
	text-align: right;
	line-height: 30px;
}
form input {
	float: left;
	margin: 3px;
}

.user-menu {
	width: 100px;
	z-index: 1;
	-webkit-box-shadow: 2px 2px 3px rgba(30, 30, 30, 0.4);
}
.user-menu ul {
	background: url('../images/menu-bg.png') no-repeat 0 center;
	padding: 10px 10px 10px 15px;
	height: auto;
	margin-left: -5px;
}
.user-menu li {
	margin: 0;
}
.user-menu a:link, .user-menu a:visited, .user-menu a:active {
	color: #7f6c00;
}
.user-menu img {
	float: left !important;
	margin-right: 3px;
}


#users li {
    clear: both;
}
    #users li a {
        text-decoration: none;
        color: #000;
        line-height: 30px;
        display: block;
        padding: 5px;
        height: 30px;
    }
    #users li a:hover {
        background-color: #f2f2f2;
    }
        #users li a img {
            float: left;
            margin-right: 5px;
        }

a.required-users-link:link, a.required-users-link:visited, a.required-users-link:active {
	padding: 3px;
}
a.required-users-link:hover {
	background-color: #f2f2f2;
}
.required-users-input {
	width: 25px;
	margin-left: 3px;
}

#schedgy-calendar td ul .highlight {
	background-color: orange;
}
