<!DOCTYPE html>
<html lang="en">
<head>
	<title>Schedgy Admin</title>
	<link rel="stylesheet" href="/stylesheets/admin.css" type="text/css" />
</head>
<body>
	<header>
		<h2>Schedgy Admin</h2>
		<nav>
			<%= render :partial => 'layouts/admin_menu' %>
		</nav>
	</header>
	<div id="main">
	<%= yield %>
	</div>
</body>
</html>